/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* nav bar stuff  */
.nav-main ul{
  display: flex;
  justify-content: center;
}
.nav-main ul li{
  list-style: none;
  padding: 1em;
}

/* arrow container stuff */
.arrow-container{
  display: flex;
  flex-direction: row;
}
.arrow-container > span{
  padding: 1em;
}

/* main image stuff */
.active-media{
  max-width: 100%;
  max-height: 40rem;
}
.hidden-media{
  height: 0;
}
.potd-text{
  padding: 1em;
}
iframe{
  height: 720px;
  width: 1280px;
}

/* error */
.error{
  color: red;
}


.main-content-holder{
  display: flex;
}
.coords-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
